.idea
*.iws
*.iml
*.ipr

**/target/
**/build/
**/.gradle/
**/.terraform

**/node_modules/
**/yarn-error.log

simple-forecast-estimation/mounted/

!simple-aws-infrastructure/network/*/init-state-bucket/.terraform

simple-disk-viewer/backend/src/main/resources/static/

jfr-influx-rabbitmq-monitoring/artifact