<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="clothing.service" level="DEBUG"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="jdbc" level="WARN"/>
    <logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>